.main {
   max-width: 200px;
    margin: 0 auto; 
    position: relative; 
    position: center;  
    padding: 50px; 
    border-width: 5px; 
}
ul {
    font-family: 'Slabo 27px', serif; 
}
h1, h2, h3, h4  {
    font-family: 'Roboto', sans-serif; 
} 
.Jon {
    img-align: center; 
}